# Web3Forms Integration
VITE_WEB3FORMS_ACCESS_KEY="your_access_key_here"

# Admin Dashboard Credentials
VITE_ADMIN_USER="admin"
VITE_ADMIN_PASS="password"

# Git-CMS GitHub Integration Token
VITE_GITHUB_TOKEN="your_github_token_here"

